<!doctype html>
<html>
<head>
    <title>这是一个gow demo page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/static/css/main.css" rel="stylesheet"/>
</head>
<body>
<div style="height: 100vh;margin:1rem auto;text-align: center;">
    <h1>{{.title}}</h1>
    <br />
    <img src="/static/img/222.png" style="max-width:100%;margin-bottom: 2rem;">
    <p style="color:#888888;font-size:1.2rem;">
       {{.content}}
    </p>
    <p style="color:#999;">
        <i>{{.date}}</i>
    </p>
    <img src="/static/img/111.png" style="max-width:100%;margin-bottom: 2rem;">
</div>
</body>
</html>